/* Pour centrer l'image et l'agrandir */
.image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .reference-image {
    width: 80%; /* Vous pouvez ajuster la largeur comme vous le souhaitez */
    max-width: 600px; /* Limite la taille maximale de l'image */
    display: inline-block;
    object-fit: cover;
  }
  
  /* Pour les puces (bullet points) */
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  